# Assign tuple items to variables

In [66]:
# Generate a tuple with letters between 'i' and ' m' including start and end
letters = (chr(i) for i in range(ord('i'),ord('m')+1))
print(*letters,sep='\n')

i
j
k
l
m

In [67]:
# Assign each variable in the tuple 'letters' to a corresponding number in numbers 
numbers  = (1,3,5,2,4)

In [68]:
# Individial assignment is possible
i,j,k,l,m = numbers
print(i,j,k,l,m)

1 3 5 2 4

In [69]:
# You can also assign the entire tuple of letters
letters=numbers
print(*letters,sep='\n')

1
3
5
2
4

In [70]:
print(type(letters))
print(type(numbers))

<class 'tuple'>
<class 'tuple'>

# Assign list items to variables

In [60]:
# Generate a tuple with letters between 'i' and ' m' including start and end
letters = (chr(i) for i in range(ord('i'),ord('m')+1))
print(*letters,sep='\n')

i
j
k
l
m

In [61]:
# Assign each variable in the tuple 'letters' to a corresponding number in numbers 
numbers  = [1,3,5,2,4]

In [62]:
# You can also assign the entire tuple of letters
letters=numbers
print(*letters,sep='\n')

1
3
5
2
4

In [64]:
# Note that the tuple 'letters' has been converted to a list
print(type(letters))

<class 'list'>

In [76]:
# Use * to assign multiple values to a variable

In [74]:
*i,j,k = numbers
print(*(each for each in (i,j,k)),sep='\n')

[1, 3, 5]
2
4

In [77]:
i,*j,k = numbers
print(*(each for each in (i,j,k)),sep='\n')

1
[3, 5, 2]
4

In [78]:
i,j,*k = numbers
print(*(each for each in (i,j,k)),sep='\n')

1
3
[5, 2, 4]